/**
 *	Theme Name: BestProcurement
 *	Author: BrandUP
 *	Version: 1.0
 *	Text Domain: bp
 *	Normalizing styles have been helped along thanks to the fine work of Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Asides
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
html {
	font-family: 'Lato', Arial, Helvetica, sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust:     100%;
}

body {
	margin: 0;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
	display: block;
}

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden],
template {
	display: none;
}

a {
	background-color: transparent;
}

a:active,
a:hover {
	outline: 0;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b,
strong {
	font-weight: bold;
}

dfn {
	font-style: italic;
}

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

mark {
	background: #ff0;
	color: #000;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	border: 0;
}

svg:not(:root) {
	overflow: hidden;
}

figure {
	margin: 1em 40px;
}

hr {
	box-sizing: content-box;
	height: 0;
}

pre {
	overflow: auto;
}

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

button {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled],
html input[disabled] {
	cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input {
	line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

input[type="search"] {
	-webkit-appearance: textfield;
	box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

legend {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
}

optgroup {
	font-weight: bold;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: #898989;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
}

p {
	margin-bottom: 1.5em;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 0.9375rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code,
kbd,
tt,
var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 15px;
	font-size: 0.9375rem;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: #fff; /* Fallback for when there is no custom background color defined. */
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
}

blockquote,
q {
	quotes: "" "";
}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

ul,
ol {
	margin: 0 0 1em 1.5em;
	padding: 0 1.5em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: #ccc #ccc #bbb;
	border-radius: 3px;
	background: #e6e6e6;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 15px 17px rgba(255, 255, 255, 0.5), inset 0 -5px 12px rgba(0, 0, 0, 0.05);
	color: rgba(0, 0, 0, .8);
	font-size: 12px;
	font-size: 0.75rem;
	line-height: 1;
	padding: .6em 1em .4em;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	border-color: #ccc #bbb #aaa;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 15px 17px rgba(255, 255, 255, 0.8), inset 0 -5px 12px rgba(0, 0, 0, 0.02);
}

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
	border-color: #aaa #bbb #bbb;
	box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15);
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	color: #666;
	border: 1px solid #ccc;
	border-radius: 3px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
	color: #111;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: 3px;
}

textarea {
	padding-left: 3px;
	width: 100%;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
	color: #FFAE00;
}

a:visited {
	color: #FFAE00;
}

a:hover,
a:focus,
a:active {
	color: #a26e00;
}

a:focus {
	outline: thin dotted;
}

a:hover,
a:active {
	outline: 0;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.main-navigation {
	display: block;
	float: right;
}

.main-navigation ul {
	display: block;
	list-style: none;
	margin: 0;
	padding-left: 0;
}

.main-navigation li {
	float: left;
	position: relative;
	margin: 0;
}

.main-navigation li:last-child {
	margin: 0;
}

.main-navigation a {
	display: block;
	text-decoration: none;
	font-family: 'Lato', Arial, Helvetica, sans-serif;
	font-weight: 300;
	color: #909090;
	height: 88px;
	line-height: 88px;
	text-transform: uppercase;
	padding: 0 10px;
}

.main-navigation ul ul {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	float: left;
	position: absolute;
	top: 1.5em;
	left: -999em;
	z-index: 99999;
}

.main-navigation ul ul ul {
	left: -999em;
	top: 0;
}

.main-navigation ul ul a {
	width: 200px;
}

.main-navigation ul ul li {

}

.main-navigation li:hover > a,
.main-navigation li.focus > a {
}

.main-navigation ul ul :hover > a,
.main-navigation ul ul .focus > a {
}

.main-navigation ul ul a:hover,
.main-navigation ul ul a.focus {
}

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
	left: auto;
}

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
	left: 100%;
}

.main-navigation .current_page_item > a,
.main-navigation .current-menu-item > a,
.main-navigation .current_page_ancestor > a {
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: none;
}

.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: "";
	display: table;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
	margin: 0 0 1.5em;
}

/* Make sure select elements fit in widgets. */
.widget select {
	max-width: 100%;
}

/* Search widget. */
.widget_search .search-submit {
	display: none;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published) {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
## Asides
--------------------------------------------------------------*/
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin: 0 auto;
}

.wp-caption-text {
	text-align: center;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
}

table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    width: 100%;
    border-collapse: collapse;
}

table td,
table th {
    font-size: 1em;
    border: 1px solid #ffae00;
    padding: 3px 7px 2px 7px;
    text-align: center;
}

table th {
    font-size: 1.1em;
    padding-top: 5px;
    padding-bottom: 4px;
    background-color: rgba(255, 174, 0, 0.3);
    color: #444;
}

table tr.alt td {
    color: #000000;
    background-color: #EAF2D3;
}

/* --- //NOTE: START General style  --- */

.wrapper {
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	clear: both;
}

.hidden {
	display: none;
}

.read-more,
.read-more:visited {
	display: inline-block;
	margin-top: 10px;
	padding: 10px 20px;
	border: 1px solid #ffae00;
	font: 16px/19px 'Lato', Arial, Helvetica, sans-serif;
	color: #898989;
	text-align: center;
	text-decoration: none;
	-webkit-transition: 0.5s ease all;
	-moz-transition: 0.5s ease all;
	-ms-transition: 0.5s ease all;
	-o-transition: 0.5s ease all;
	transition: 0.5s ease all;
}

.read-more:hover,
.read-more:active {
	color: #fff;
	background: #ffae00;
}

.portfolio-item .read-more,
.portfolio-item .read-more:visited {
	position: absolute;
	right: 5px;
	bottom: 10px; 
	display: inline-block;
	margin-top: 15px;
	margin-right: 5px;
	padding: 5px 10px;
	border: 1px solid #000;
	font: 12px/15px 'Lato', Arial, Helvetica, sans-serif;
	color: #000;
	text-align: center;
	text-decoration: none;
	-webkit-transition: 0.5s ease all;
	-moz-transition: 0.5s ease all;
	-ms-transition: 0.5s ease all;
	-o-transition: 0.5s ease all;
	transition: 0.5s ease all;
}

.portfolio-item .read-more:hover,
.portfolio-item .read-more:active {
	color: #fff;
	background: #ffae00;
	border: 1px solid #fff;
}

article .title {
	min-height: 25px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.pagination {
	margin-top: 60px;
	text-align: center;
}

.pagination a:link,
.pagination a:visited,
.pagination a:active {
	color: #898989;
}
.pagination .page-numbers {
	display: inline-block;
	margin: 0 2px;
	padding: 4px 8px;
	border: 1px solid #ffae00;
	font: 14px/16px 'Lato', Arial, Helvetica, sans-serif;
	text-decoration: none;
}

.pagination .page-numbers.current {
	border-color: #ededed;
} 

.pagination a:hover {
	background: #ffae00;
	color: #fff;
	-webkit-transition: 0.5s ease all;
    -moz-transition: 0.5s ease all;
    -ms-transition: 0.5s ease all;
    -o-transition: 0.5s ease all;
    transition: 0.5s ease all;
}

/* --- //NOTE: END General style  --- */


/* --- //NOTE: START Header  --- */
.site-header .menu-bp-menu-container a {
	position: relative;
	-webkit-transition: 0.3s color ease-in-out;
	-moz-transition: 0.3s color ease-in-out;
	-ms-transition: 0.3s color ease-in-out;
	-o-transition: 0.3s color ease-in-out;
	transition: 0.3s color ease-in-out;
}
.site-header .menu-bp-menu-container a:before,
.site-header .menu-bp-menu-container .current-menu-item a:before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	right: auto;
	display: block;
	height: 0;
	width: 100%;
	background-color: #ffae00;
	-webkit-transition: 0.3s height ease-in-out;
	-moz-transition: 0.3s height ease-in-out;
	-ms-transition: 0.3s height ease-in-out;
	-o-transition: 0.3s height ease-in-out;
	transition: 0.3s height ease-in-out;
	z-index: -1;
}

.site-header .menu-bp-menu-container .current-menu-item a:before {
	height: 3px;
}

.site-header .menu-bp-menu-container a:hover {
	color: #fff;
}

.site-header .menu-bp-menu-container a:hover:before {
	height: 100%;
}
/* --- //NOTE: END Header  --- */


/* --- //NOTE: START Footer  --- */
.site-footer {
	background: #282828;
}

.site-footer .wrapper,
.site-footer .site-info {
	box-sizing: border-box;
}

.site-footer .site-info {
	padding: 30px 0;
	overflow: hidden;
}

.site-footer .site-info .widget-area {
	color: #b6ada6;
	font-family: 'Lato', Arial, Helvetica, sans-serif;
	display: inline-block;
	float: left;
	width: 32%;
	box-sizing: border-box;
}
.site-footer .site-info .widget-area:nth-child(2) {
	margin-left: 2%;
	margin-right: 2%;
}

.site-footer .site-info .widget-area:last-child {
	margin: 0;
}

.site-footer .site-info .widget-title {
	margin: 0 0 17px;
	text-transform: capitalize;
	font-size: 17px;
	font-weight: normal;
	line-height: 18px;
	color: #e5e2e1;
}

.site-footer .site-info .footer-description .textwidget {
	font-size: 11px;
}

/* - //NOTE: START Footer Widgets - */
#footer-description .widget-title {
	display: inline-block;
	position: relative;
	padding-left: 30px;
}
#footer-description .widget-title:before {
	content: "";
	position: absolute;
	left:0;
	top:-3px;
	width: 25px;
	height: 25px;
	background-image: url('img/logo-footer.png');
	background-repeat: no-repeat;
}


#footer-news .recent-news {
	margin: 0;
	padding: 0;
	list-style-type: none;
	color: #b7aea6;
}

#footer-news .recent-news .title {
	text-decoration: none;
	display: block;
	color: #eec194;
	font-style: italic;
	font-size: 13px;
	line-height: 15px;
}

#footer-news .recent-news .title:hover {
	color: #fff;
}

#footer-news .recent-news .post-date,
#footer-news .recent-news .post-author,
#footer-news .recent-news .news-content {
	font-size: 9px;
	color: #b7aea6;
}

#footer-news .recent-news .post-author .name {
	color: #ff5400;
}

#footer-news .recent-news .news-content p {
	margin: 10px 0 0;
}

#footer-newsletter .mc4wp-form {
	margin: 0;
}

#footer-newsletter .mc4wp-form p {
	margin: 0 0 10px;
}

#footer-newsletter .mc4wp-form .widget-title {
	text-transform: none;
}

#footer-newsletter .mc4wp-form input[type="email"] {
	border-radius: 0 !important;
	font: normal 16px/18px 'Lato', Arial, Helvetica, sans-serif;
	height: 42px;
	padding: 10px 12px;
} 

#footer-newsletter .mc4wp-form button, 
#footer-newsletter .mc4wp-form input[type="button"], 
#footer-newsletter .mc4wp-form input[type="submit"] {
	font: normal 16px/16px 'Lato', Arial, Helvetica, sans-serif;
    width: 100%;
    padding: 12px 38px;
    color: #fff !important;
    background: #282828 !important;
    border: 1px solid #fc7d49 !important;
	border-radius: 0 !important;
    text-transform: uppercase;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}

#footer-newsletter .mc4wp-form button:active, 
#footer-newsletter .mc4wp-form button:focus, 
#footer-newsletter .mc4wp-form button:hover, 
#footer-newsletter .mc4wp-form input[type="submit"]:active, 
#footer-newsletter .mc4wp-form input[type="submit"]:focus, 
#footer-newsletter .mc4wp-form input[type="submit"]:hover {
	color: #fc7d49 !important;
	border: 1px solid #fc7d49 !important;
	background: #fff !important;
}


#footer-contacts {
	font-size: 13px;
	line-height: 15px;
}

#footer-contacts .contacts .location,
#footer-contacts .contacts .email,
#footer-contacts .contacts .phone,
#footer-contacts .contacts .fax {
	display: block;
}

#footer-contacts .contacts .location,
#footer-contacts .contacts .email,
#footer-contacts .contacts .phone-fax {
	background-repeat: no-repeat;
	background-position: 2px center;
	margin-bottom: 15px;
	padding-left: 20px; 
}

#footer-contacts .location {
	background-image: url('img/icon-footer-address.png');
}

#footer-contacts .email {
	background-image: url('img/icon-footer-email.png');
}

#footer-contacts .contacts .phone-fax {
	background-image: url('img/icon-footer-phone.png');
	background-position: 5px center;
}

#footer-social .social {
	line-height: 0;
	font-size: 0;
}

#footer-social .social > a {
	font-size: 0;
	display: inline-block;
	width: 30px;
	height: 23px;
	margin: 0 5px;
	background-image: url('img/sprite-social.png');
	background-repeat: no-repeat;
	background-size: cover;
}
#footer-social .social a.facebook {
	background-position: -48px 0;
}
#footer-social .social a.twitter {
	background-position: 0 0;
}
#footer-social .social a.linkedin {
	background-position: -96px 0;
}
#footer-social .social a.googleplus {
	background-position: -145px 0;
}
/* - //NOTE: END Footer Widgets - */


/* --- //NOTE: END Footer  --- */


/* --- //NOTE: START Before Footer --- */

.inner-above-footer-wrapper {
	background-image: url('img/inner-above-footer.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
	margin-top: 50px;
	height: 120px;
}

.inner-above-footer {
	background-color:  rgba(207, 74, 39, 0.85);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	box-sizing: border-box;
	padding: 36px 0;
	height: inherit;
}

.inner-above-footer .question {
	margin-right: 30px;
	color: #fff;
	font-size: 24px
}

.inner-above-footer .quotation {
	display: inline-block;
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;
	font-size: 16px;
	line-height: 16px;
	padding: 17px 39px;
	border: 1px solid #ffae00;
	-webkit-transition: 0.5s ease all;
    -moz-transition: 0.5s ease all;
    -ms-transition: 0.5s ease all;
    -o-transition: 0.5s ease all;
    transition: 0.5s ease all;
}

.inner-above-footer .quotation:hover {
	background: #fff;
	color: #ffae00;
	border: 1px solid #fff;
}

/* --- //NOTE: START Before Footer --- */


/* --- //NOTE: START Homepage  --- */

.site-branding {
	float: left;
}

.site-branding .site-title a {
	display: block;
	width: 230px;
	height: 41px;
	background: url('img/logo.png') no-repeat center;
	background-size: contain;
	font-size: 0;
}

.main-navigation {
	float: right;
}

/* - //NOTE: START Homepage Slider - */
.bp-hp-slider {
	margin-bottom: 40px;
}
.bp-hp-slider .slide {
	display: block;
	width: 100%;
	min-height: 400px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.bp-hp-slider .slide .wrapper {
	position: relative;
}

.bp-hp-slider .slide .headline {
	position: absolute;
	top: 10px;
	left: 10px;
	display: block;
	width: 100%;
	max-width: 315px;
	padding: 20px;
	background: rgba(9,166,231, 0.8);
}

.bp-hp-slider .slide .headline .title,
.bp-hp-slider .slide .headline .text,
.bp-hp-slider .slide .headline .find-more {
	color: #fff;
	font-weight: normal;
}

.bp-hp-slider .slide .headline .title {
	font-size: 22px;
	line-height: 24px;
	padding: 0 0 10px;
	margin: 0;
}

.bp-hp-slider .slide .headline .text {
	text-align: left;
	font: 15px/17px 'Roboto Slab', Arial, Helvetica, sans-serif;
	margin: 0 0 10px;
}

.bp-hp-slider .slide .headline .find-more {
	position: relative;
	padding-right: 30px;
	font-weight: bold;
	font-size: 18px;
	text-decoration: none;
}

.bp-hp-slider .slide .headline .find-more:after {
	content: "";
	position: absolute;
	right: 0;
	top: 0;
	width: 25px;
	height: 25px;
	background: url('img/btn.png') no-repeat center;
}

.bp-hp-slider .slick-dots {
	position: absolute;
	bottom: 0;
	width: 100%;
	min-height: 30px;
	box-sizing: border-box;
	padding: 10px 0;
	list-style-type: none;
	margin: 0;
	text-align: center;
	background: rgba(37, 37, 37, 0.6);
}

.bp-hp-slider .slick-dots li {
	display: inline-block;
	margin: 0 3px;
	vertical-align: middle;
}

.bp-hp-slider .slick-dots li button[type="button"] {
	border: 2px solid #fff;
	background: #fff;
	display: block;
	width: 10px;
	height: 10px;
	box-sizing: border-box;
	border-radius: 100%;
	font-size: 0;
	line-height: 0;
	outline: none;
}

.bp-hp-slider .slick-dots li.slick-active button[type="button"] {
	background: #00bdfb;
}
/* - //NOTE: END Homepage Slider - */

/* - //NOTE: START Homepage Content - */
.home .hp-articles {
	float: left;
	width: 33%;
	box-sizing: border-box;
	padding: 0 1%;
}

.home .hp-articles h2.title {
	margin: 0 0 15px;
	font: 300 24px/30px 'Lato', Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	color: #898989;
	padding-left: 45px;
}

.home .hp-articles.description h2.title {
	background: url('img/hp/icon-desc.png') no-repeat left top;
	min-height: auto;
}

.home .hp-articles.news-wrapper h2.title {
	background: url('img/hp/icon-news.png') no-repeat left center;
}

.home .hp-articles.portfolio-wrapper h2.title {
	background: url('img/hp/icon-portfolio.png') no-repeat left center;
}

.home .hp-articles .news h3.title {
	margin: 0 0 10px;
	font: 800 18px/21px 'Lato', Arial, Helvetica, sans-serif;
	font-style: italic;
	color: #1e1c1b;
}

.home .hp-articles .news .excerpt,
.home .hp-articles .news .excerpt p {
	height: 100px;
	text-overflow: ellipsis;
}

.home .hp-content {
	margin:0 0 40px;
	padding-bottom: 40px;
	overflow: hidden;
}

.home .hp-content .text,
.home .hp-content .excerpt {
	color: #898989;
	font-size: 14px;
}

.slick-slide {
	outline: invert none medium;
}

.portfolio-wrapper article.portfolio {
	position: relative;
	display: table;
	width: 280px;
	height: 160px;
	padding: 20px 10px;
	background-repeat: no-repeat;
	background-size: cover;
	box-sizing: border-box;
}

.portfolio-wrapper article.portfolio .title {
	background-color: rgba(26, 118, 199, 0.72);
	margin-left: auto;
	margin-right: auto;
	box-sizing: border-box;
	color: #fff;
	padding: 5px;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}

.portfolio-wrapper .slick-arrow {
	background: url('img/icon-slide-arrows.png') no-repeat 0 0;
	font-size: 0;
	border: 0 none;
	width: 25px;
	height: 25px;
	position: absolute;
	left: 50%;
	bottom: -30px;
	display: block;
	box-shadow: none;
	border-radius: 100%;
	margin: 0 5px;
}

.portfolio-wrapper .slick-arrow.slick-prev {
	margin-left: -25px;
}
.portfolio-wrapper .slick-arrow.slick-next {
	margin-right: -25px;
	background-position: -34px 0;
}

.home .hp-content .slick-dots {
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: left;
}

.home .hp-content .slick-dots li {
	display: inline-block;
	text-align: center;
	margin:0 2px;
}

.home .hp-content .slick-dots li button[type="button"] {
	border: 1px solid #e5e5e5;
	width: 12px;
	height: 12px;
	background: #fff;
	border-radius: 100%;
	padding: 0;
	font-size: 0;
	box-shadow:
}

.home .hp-content .slick-dots li.slick-active button[type="button"] {
	outline: none;
	background: #f26c4f;
	box-shadow: inset 0 0 0 2px #fff;
}

/* - //NOTE: END Homepage Content - */


/* - //NOTE: START Homepage Partners - */
.home .partners .list {
	position: relative;
	margin: 40px 0;
	padding: 0;
	overflow: hidden;
	font-size: 0;
	text-align: center;
	list-style-type: none;
}

.home .partners .slick-prev,
.home .partners .slick-next {
	position: absolute;
	top: 0;
	height: 70px;
	width: 30px;
	background-color: rgba(255,174,0,0.5);
	background-repeat: no-repeat;
	background-position: center;
	font-size: 0;
	border: 0 none;
	z-index: 100;
}
.home .partners .slick-prev {
	left: 0;
	background-image: url('img/icon-prev.png');
}
.home .partners .slick-next {
	right: 0;
	background-image: url('img/icon-next.png');
}

.home .partners .list .partner {
	display:block;
/*	max-width: 192px;*/
	height: 70px;
	margin: 0 35px;
	box-sizing: border-box;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

.home .partners .list .partner.azvi {
	background-image: url('img/partners/azvi.png');
}
.home .partners .list .partner.fcc {
	background-image: url('img/partners/fcc.jpg');
}
.home .partners .list .partner.cccf {
	background-image: url('img/partners/cccf_timisoara.jpg');
}
.home .partners .list .partner.copisa {
	background-image: url('img/partners/Copisa.jpg');
}
.home .partners .list .partner.gecor {
	background-image: url('img/partners/gecor.jpg');
}
.home .partners .list .partner.impressa {
	background-image: url('img/partners/impresssa.jpg');
}
.home .partners .list .partner.ocide {
	background-image: url('img/partners/Ocide.jpg');
}
.home .partners .list .partner.sird {
	background-image: url('img/partners/sird.jpg');
}
.home .partners .list .partner.ohl {
	background-image: url('img/partners/ohl.png');
}
.home .partners .list .partner.sct {
	background-image: url('img/partners/sct.jpg');
}
.home .partners .list .partner.secol {
	background-image: url('img/partners/secol.jpg');
}
.home .partners .list .partner.porr {
	background-image: url('img/partners/porr.jpg');
}
/* - //NOTE: END Homepage Partners - */

/* --- //NOTE: END Homepage  --- */


.site-content .header-title-wrapper {

}

.site-content .header-title {
	background: url('img/bkg-header-title.jpg') no-repeat center top;
	background-size: cover;
	position: relative;
	min-height: 188px;
	margin-bottom: 0;
	-webkit-transition: min-height 0.4s ease-in-out;
	-moz-transition: min-height 0.4s ease-in-out;
	-ms-transition: min-height 0.4s ease-in-out;
	-o-transition: min-height 0.4s ease-in-out;
	transition: min-height 0.4s ease-in-out;
}
.page-template-page-services .site-content .header-title {
	background-image: url('img/bkg-1.jpg');
	background-position: center;
}
.page-template-page-industry .site-content .header-title {
	background-image: url('img/bkg-3.jpg');
	background-position: center;
}
.page-template-page-portfolio .site-content .header-title {
	background-image: url('img/bkg-2.jpg');
	background-position: center;
}

.site-content .header-title:after {
	content: '';
	position:absolute;
	left: 0;
	top: 0;
	display: block;
	width: 100%;
	height: 100%;
	background: #1e51c7;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFlNTFjNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwZmI0ZTQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e51c7), color-stop(100%,#0fb4e4));
	background: -webkit-linear-gradient(top,  #1e51c7 0%,#0fb4e4 100%);
	background: -moz-linear-gradient(top,  #1e51c7 0%, #0fb4e4 100%);
	background: -ms-linear-gradient(top,  #1e51c7 0%,#0fb4e4 100%);
	background: -o-linear-gradient(top,  #1e51c7 0%,#0fb4e4 100%);
	background: linear-gradient(to bottom,  #1e51c7 0%,#0fb4e4 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e51c7', endColorstr='#0fb4e4',GradientType=0 );
	opacity: 0.7;
	z-index: 1;
}

.site-content .header-title .title {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: 0;
	padding: 0;
	text-align: center;
	line-height: 44px;
	color: #fff;
	font-weight: 300;
	font-size: 40px;
	z-index: 2;
}

.site-content .header-title.single {
	display: table;
	width: 100%;
}

.site-content .header-title.single .wrapper {
	display: table-cell;
	vertical-align: middle;
}

.site-content .header-title.single .title {
	position: relative;
	top: auto;
	left: auto;
	padding: 30px 0;
}

.single .site-content img.single-thumb {
	margin-top: 3em;
} 

.site-content .header-title .title strong {
	font-weight: normal;
}

.site-content .header-title .title .line-ending {
	color: #ffae00;
}


/* --- //NOTE: Contact page  --- */

.contact-page {
	padding-bottom: 50px;
}

.contact-page .contact-details {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 40px;
	padding-bottom: 40px;
	border-bottom: 1px solid #ebebeb;
}

.contact-page .contact {
	display: inline-block;
	width: 48%;
	vertical-align: top;
	text-align: center;
}
.contact-page .contact .title {
	position: relative;
	display: inline-block;
	padding: 0 0 0 40px;
	font-weight: 300;
	font-size: 24px;
}

.contact-page .contact .title:before {
	content: "";
	position: absolute;
	left: 2px;
	top: 2px;
	width: 30px;
	height: 30px;
}

.contact-page .contact.hours .title:before {
	background: url('img/contact/icon-hours.png') no-repeat left center;
}

.contact-page .contact.headquarters .title:before {
	background: url('img/contact/icon-headquarters.png') no-repeat left center;
}

.contact-page .contact.support .title:before {
	background: url('img/contact/icon-support.png') no-repeat left center;
}

.contact-page .contact.support p {
	margin: 0;
}

.contact-page .contact .working-hours {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.contact-page .contact-form {
	overflow: hidden;
}

.contact-page .contact-form .title {
	margin: 0 0 50px;
	padding: 0;
	font-weight: 300;
	font-size: 30px;
	line-height: 32px;
	text-align: center;
}

.contact-page .contact-form .title .quote {
	font-weight: normal;
}

.contact-page .wpcf7 .column {
	float: left;
	display: inline-block;
	box-sizing: border-box;
	width: 49%;
	margin: 0 1% 0 0;
}

.contact-page .wpcf7 .column.last {
	margin: 0 0 0 1%;
}

.contact-page .wpcf7 .column p {
	margin: 0 0 40px;
}

.contact-page .wpcf7 .column .required {
	color: #cf4a27;
}

.contact-page .wpcf7 label {
	color: #898989;
	font: 18px/22px 'Lato', Arial, Helvetica, sans-serif;
}

.contact-page .wpcf7 input {
	width: 100%;
}

.contact-page .wpcf7 textarea {
	resize: vertical;
}
.contact-page .wpcf7 input,
.contact-page .wpcf7 textarea {
	border: 0 none;
	background-color: #ebebeb;
	border-radius: 0;
	box-sizing: border-box;
	padding: 1% 2%;
	-webkit-transition: background-color .4s;
    transition: background-color .4s;
}
.contact-page .wpcf7 input:focus,
.contact-page .wpcf7 textarea:focus,
.contact-page .wpcf7 input:active,
.contact-page .wpcf7 textarea:active {
	background-color: #b1b1b1;
	background-color: #898989;
}
.contact-page .wpcf7 input:focus,
.contact-page .wpcf7 textarea:focus {
	color: #ffc039;
}
.contact-page .wpcf7 input {
	min-height: 50px;
}

.contact-page .wpcf7 textarea {
	height: 247px;
}

.contact-page .wpcf7 select {
	width: 100%;
	min-height: 10px;
	padding: 14px 5px;
	background-color:#ebebeb;
	border-color:transparent; 
	border: 0 none;
	-moz-appearance: menulist;
	-moz-user-select: menulist;
	-webkit-appearance: caret;
    -webkit-border-radius: 0px;
}

.contact-page .wpcf7 span.wpcf7-form-control-wrap {
	display: block;
}

.contact-page .wpcf7 input[type="submit"] {
	font: normal 16px/16px 'Lato', Arial, Helvetica, sans-serif;
	float: right;
	width: auto;
	color: #898989;
	background: #fff;
	border: 1px solid #fc7d49;
	text-transform: uppercase;
	padding: 12px 38px;
}

.contact-page .wpcf7 input[type="submit"]:hover {
	background: #fc7d49;
	color: #fff;
	box-shadow: none;
}

div.wpcf7-response-output {
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

/* --- //NOTE: END Contact page  --- */

/* --- //NOTE: START Portfolio page  --- */

section.portfolio .wrapper {
	font-size: 0;
	text-align: center;
}

article.portfolio-item {
	position: relative;
	display: inline-block;
	width: 33%;
	max-width: 305px;
	height: 185px;
	vertical-align: top;
	margin-top: 40px;
	text-align: left;
	overflow: hidden;
	background-size: cover;
}

article.portfolio-item .mask {
   width: 100%;
   height: 152px;
   position: absolute;
   overflow: hidden;
   top: 0;
   left: 0;
}

article.portfolio-item:nth-child(3n+2) {
	margin-left: 2%;
	margin-right: 2%;
}

article.portfolio-item .title,
article.portfolio-item .title a {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	min-height: 33px;
	margin: 0;
	padding: 5px 10px;
	background: #000;
	color: #fff;
	font-size: 14px;
	line-height: 22px;
	font-weight: 300;
	text-decoration: none;
}
article.portfolio-item .title a {
	max-width: 305px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}

article.portfolio-item .title a:hover,
article.portfolio-item .title a:focus,
article.portfolio-item .title a:active {
	text-indent: 10px;
}

article.portfolio-item .text {
	padding: 20px 10px;
	font: 12px/15px 'Roboto Slab', Arial, Helvetica, sans-serif;
	color: #fff;
	overflow: hidden;
}

article.portfolio-item .thumb-wrapper {
	display: block;
	min-height: 185px;
}

article.portfolio-item {

}
article.portfolio-item .mask {
	background-color: rgba(255,174,0, 0.95);
	
	-moz-transform: scale(0);
    -webkit-transform: scale(0);
    opacity: 0;
	filter: alpha(opacity=0);
	transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
	visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}
article.portfolio-item p {
	visibility: hidden;
	filter: alpha(opacity=0);
	opacity: 0;
}
/*
article.portfolio-item a.info {
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
}
*/
article.portfolio-item:hover .mask {
	visibility: visible;
	-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
	-moz-transform: scale(1);
	-webkit-transform: scale(1);
}
article.portfolio-item:active .mask {
	visibility: visible;
	-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
	-moz-transform: scale(1);
	-webkit-transform: scale(1);
	-webkit-transition: opacity 0.4s ease-in-out;
}
article.portfolio-item:hover h2,
article.portfolio-item:hover p,
article.portfolio-item:hover a.info {

	visibility: visible;
	-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}
article.portfolio-item:active h2,
article.portfolio-item:active p,
article.portfolio-item:active a.info {
	visibility: visible;
	-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
	-webkit-transition: opacity 0.4s ease-in-out;
}
article.portfolio-item:hover p,
article.portfolio-item:active p {
	-webkit-transition-delay: 0.1s;
	-moz-transition-delay: 0.1s;
	-ms-transition-delay: 0.1s;
	-o-transition-delay: 0.1s;
	transition-delay: 0.1s;
}
article.portfolio-item:hover a.info,
article.portfolio-item:active a.info {
	-webkit-transition-delay: 0.2s;
	-moz-transition-delay: 0.2s;
	-ms-transition-delay: 0.2s;
	-o-transition-delay: 0.2s;
	transition-delay: 0.2s;
}

.single-portfolio .single-content {
	padding-top: 50px;
}

.single-portfolio .entry-header {
	max-width: 100%;
	height: 200px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

#swipebox-overlay {
	background-color: rgba(255, 174, 0, 0.75);
}
/* --- //NOTE: END Portfolio page  --- */

/* --- //NOTE: START News page  --- */

section.news .wrapper {
	font-size: 0;
	text-align: left;
}

article.news-item {
	position: relative;
	display: inline-block;
	width: 32%;
	vertical-align: top;
	margin-top: 40px;
	text-align: left;
}

article.news-item:nth-child(3n+2) {
	margin-left: 2%;
	margin-right: 2%;
}

article.news-item .title,
article.news-item .title a {
	min-height: 45px;
	margin: 0;
	color: #898989;
	font-size: 22px;
	line-height: 28px;
	font-weight: 300;
	text-decoration: none;
}

article.news-item .title {
	margin-top: 5px;
}

article.news-item .text {
	padding: 20px 0;
	font: 12px/15px 'Roboto Slab', Arial, Helvetica, sans-serif;
	color: #898989;
	overflow: hidden;
	margin-bottom: 10px;
}

article.news-item .thumb-wrapper {
	display: block;
	min-height: 185px;
	background-size: cover;
	background-repeat: no-repeat;
}

/* --- //NOTE: END News page  --- */


/* --- //NOTE: START AboutUs page  --- */
/* - //NOTE: START AboutUs Slider - */
.bp-about-slider {
	margin-bottom: 40px;
}

.bp-about-slider .slide {
	display: block;
	width: 100%;
	min-height: 400px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.bp-about-slider .slide .wrapper {
	position: relative;
}

.bp-about-slider .slide .headline {
	position: absolute;
	top: 30px;
	background: rgba(9,166,231,0.8);
	padding: 25px;
	display: block;
	max-width: 315px;
	width: 100%;
} 

.bp-about-slider .slide .headline .title,
.bp-about-slider .slide .headline .text,
.bp-about-slider .slide .headline .find-more {
	color: #fff;
	font-weight: normal;
}

.bp-about-slider .slide .headline .title {
	font-size: 22px;
	line-height: 24px;
	padding: 0 0 10px;
	margin: 0;
}

.bp-about-slider .slide .headline .text {
	text-align: justify;
	font: 15px/17px 'Roboto Slab', Arial, Helvetica, sans-serif;
	margin: 0 0 10px;
}

.bp-about-slider .slide .headline .find-more {
	font-weight: bold;
	font-size: 18px;
	text-decoration: none;
}

.bp-about-slider .slick-dots {
	position: absolute;
	bottom: 0;
	width: 100%;
	min-height: 30px;
	box-sizing: border-box;
	padding: 10px 0;
	list-style-type: none;
	margin: 0;
	text-align: center;
	background: rgba(37, 37, 37, 0.6);
}

.bp-about-slider .slick-dots li {
	display: inline-block;
	margin: 0 3px;
	vertical-align: middle;
}

.bp-about-slider .slick-dots li button[type="button"] {
	border: 2px solid #fff;
	background: #fff;
	display: block;
	width: 10px;
	height: 10px;
	box-sizing: border-box;
	border-radius: 100%;
	font-size: 0;
	line-height: 0;
	outline: none;
}

.bp-about-slider .slick-dots li.slick-active button[type="button"] {
	background: #00bdfb;
}

/* - //END AboutUs Slider - */

/* - //NOTE: START AboutUs Description - */

.about-content .title,
.about-content .subtitle,
.team .title,
.team .subtitle {
	margin: 0px 0px 30px;
	font: 300 24px/24px "Lato",Arial,Helvetica,sans-serif;
	text-transform: uppercase;
	color: #898989;
}
.team .title {
	text-align: center;
}
.page-template-page-about .portfolio-wrapper article.portfolio .title{
	text-transform: none;
	font-size: 16px;
}

.about-content {
	margin-bottom: 40px;
}

.about-content article.about-articles {
	display: inline-block;
	vertical-align: top;
}

.about-content article.description {
	width: 60%;
	max-width: 630px;
	box-sizing: border-box;
}

.about-content article.description .text {
	font: 14px/16px "Roboto Slab",Arial,Helvetica,sans-serif;
}

.about-content article.description .subtitle strong {
	font-weight: normal;
}

.about-content article.portfolio-wrapper {
	width: 30%;
	max-width: 290px;
	padding-left: 40px;
	box-sizing: border-box;
}


/* - //END AboutUs Description - */

/* --- //END AboutUs page  --- */

/* --- //NOTE: START Services page  --- */
/* - //NOTE: START Service list  - */
.page-template-page-services .services {
	position: relative;
	display: block;
	font-size: 0;
	text-align: center;
	z-index: 5;
	padding-top: 60px;
	margin-bottom: 60px;
}

.page-template-page-services .services .service-item {
	position: relative;
	display: inline-table;
	width: 100%;
	max-width: 220px;
	margin: 10px 1% 0;
	height: 162px;
	vertical-align: top;
	cursor: pointer;
}

.page-template-page-services .services .service-item:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(30,30,30,0.85);
	transform: scale(1);
	transition: transform 0.2s 0.1s ease-in, background 0.1s ease-in-out;
}

.page-template-page-services .services .service-item:hover:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	transform: scale(1);
	transition-delay: 0.05s;
}
.page-template-page-services .services .service-item:hover:before,
.page-template-page-services .services .service-item.current:before{
	background: rgba(241,143,25,0.7);
}

/*
.page-template-page-services .services .service-item:first-child {
	margin-left: 0;
}

.page-template-page-services .services .service-item:last-child {
	margin-right: 0;
}
*/

.page-template-page-services .services .service-item .service-title {
	position: relative;
	display: table-cell;
	box-sizing: border-box;
	padding: 100px 40px 0;
	font-size: 16px;
	font-weight: 400;
	line-height: 18px;
	text-transform: uppercase;
	text-align: center;
	color: #fefefe;
	background-size: cover;
	vertical-align: top;
	z-index: 10;
}

.page-template-page-services .services .service-item:first-child .service-title {
	background: url('img/industry/icon-2.png') no-repeat center 30%;
}
.page-template-page-services .services .service-item:nth-child(2) .service-title {
	background: url('img/industry/icon-5.png') no-repeat center 30%;
}
.page-template-page-services .services .service-item:nth-child(3) .service-title {
	background: url('img/industry/icon-1.png') no-repeat center 30%;
}
.page-template-page-services .services .service-item:last-child .service-title {
	background: url('img/industry/icon-6.png') no-repeat center 30%;
}

.page-template-page-services .service-page-content {
	font: 14px/18px 'Roboto Slab', Arial, Helvetica, sans-serif;
	min-height: 300px;
}
.page-template-page-services .service-page-content .wrapper {
	display: none;
}
.page-template-page-services .service-page-content .wrapper.current {
	display: block;
} 

.page-template-page-services .service-page-content .subtitle {
	color: #898989;
	font: 24px/26px 'Lato', Arial, Helvetica, sans-serif;
	line-height: 28px;
	font-weight: 300;
	text-decoration: none;
	padding-left: 50px;
	margin-top: 50px;
}
.page-template-page-services .service-page-content .subtitle:nth-of-type(1) {
	background: url('img/services/icon-subtitle-1.png') no-repeat left center;
}
.page-template-page-services .service-page-content .subtitle:nth-of-type(2) {
	background: url('img/services/icon-subtitle-2.png') no-repeat left center;
}
.page-template-page-services .service-page-content .subtitle:nth-of-type(3) {
	background: url('img/services/icon-subtitle-3.png') no-repeat left center;
}

/* - //END: Service list  - */
/* --- //END Services page  --- */


/* --- //NOTE: START Industry page  --- */
/* - //NOTE: START Industries list  - */
.page-template-page-industry .header-title.big h2.title {
	margin-top: -173px !important;
}

.page-template-page-industry .industries {
	position: relative;
	display: block;
	font-size: 0;
	text-align: center;
	z-index: 5;
	padding-top: 60px;
	margin-bottom: 60px;
}

.page-template-page-industry .industries .industry-item {
	position: relative;
	display: inline-table;
	width: 100%;
	max-width: 32%;
	margin: 0 2px 4px;
	height: 130px;
	vertical-align: top;
	background-size: cover;
	background-position: center;
	cursor: pointer;
}

.page-template-page-industry .industries .industry-item:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(30,30,30,0.85);
	transform: scale(1);
	transition: transform 0.2s 0.1s ease-in, background 0.1s ease-in-out;
}

.page-template-page-industry .industries .industry-item.current:before,
.page-template-page-industry .industries .industry-item:hover:before,
.page-template-page-industry .industries .industry-item:active:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(241,143,25,0.7);
	transform: scale(1);
	transition-delay: 0.05s;
}

.page-template-page-industry .industries .industry-item .industry-title {
	position: relative;
	display: table-cell;
	box-sizing: border-box;
	padding: 0 52px;
	font-size: 16px;
	font-weight: 400;
	line-height: 18px;
	text-transform: uppercase;
	text-align: center;
	color: #fefefe;
	vertical-align: middle;
	z-index: 10;
}

.page-template-page-industry .industry-page-content {
	font: 14px/18px 'Roboto Slab', Arial, Helvetica, sans-serif;
}

.page-template-page-industry .industry-page-content .subtitle {
	color: #898989;
	font: 24px/26px 'Lato', Arial, Helvetica, sans-serif;
	line-height: 28px;
	font-weight: 300;
	text-decoration: none;
	padding-left: 50px;
	margin-top: 50px;
}

.page-template-page-industry .industry-page-content h1.title {
	font: 38px/40px 'Lato', Arial, Helvetica, sans-serif;
	text-align: center;
}

.page-template-page-industry .industry-item.estimari .industry-title {
	background: url('img/industry/icon-2.png') no-repeat center 30%;	
}

.page-template-page-industry .industry-item.oferte-tehnice .industry-title {
	background: url('img/industry/icon-4.png') no-repeat center 30%;	
}

.page-template-page-industry .industry-item.procurement .industry-title {
	background: url('img/industry/icon-1.png') no-repeat center 30%;	
}

.page-template-page-industry .industry-item.analize-de-risc .industry-title {
	background: url('img/industry/icon-6.png') no-repeat center 30%;	
}

.page-template-page-industry .industry-item.schimbari-tehnice .industry-title {
	background: url('img/industry/icon-3.png') no-repeat center 30%;	
}

.page-template-page-industry .industry-item.ordine-de-variatie .industry-title {
	background: url('img/industry/icon-5.png') no-repeat center 30%;	
}

.page-template-page-industry .industry-item.revendicari .industry-title {
	background: url('img/industry/icon-7.png') no-repeat center 30%;	
}

.page-template-page-industry .industry-item.audit-contract .industry-title {
	background: url('img/industry/icon-8.png') no-repeat center 30%;	
}

.page-template-page-industry .industry-page-content .industry-content {
	display: none;
}

.page-template-page-industry .industry-page-content .industry-content.current {
	display: block;
}



/* - //END: Industries list  - */
/* --- //END Industry page  --- */



/* --- //START Team page  --- */
.page-template-page-team .site-content .header-title {
	margin-bottom: 40px;
}

.team .team-members {
/*	font-size: 0;*/
	white-space: nowrap;
}

.team .team-members > * {
	white-space: normal;
}

.team .team-members .team-member {
	display: block;
	width: 100%;
	margin-bottom: 60px;
	padding-bottom: 30px;
	border-bottom: 1px solid #ccc;
	box-sizing: border-box;
	vertical-align: top;
}

.team .team-members .team-member:last-child {
	border-bottom: 0 none;
}

.team .team-members .team-member figure {
	margin: 0;
	display: inline-block;
}

.team .team-member-thumb {
	float: left;
}

.team .team-member-thumb img {
	display: block;
	border: 1px solid #cfc9be;
	padding: 3px;
	margin-right: 25px;
}

.team .team-members .team-member .name {
	margin: 0;
	font: 400 24px/24px "Lato",Arial,Helvetica,sans-serif;
	clear: none;
}
.team .team-members .team-member .position {
	display: block;
	margin-bottom: 35px;
	font: 400 13px/14px "Lato",Arial,Helvetica,sans-serif;
}

.team .team-members .team-member .excerpt {
	padding-left: 135px;
}

.team .team-members .team-member .excerpt p {
	margin: 0 0 10px;
	font: 14px/16px 'Roboto Slab', Arial, Helvetica, sans-serif;
}

.team .team-members .team-member .excerpt ul,
.team .team-members .team-member .excerpt ol {
	margin-left: 1em;
	padding-left: 10px;
	text-align: left;
}

.team .team-members .team-member .excerpt ul {
	list-style: inside none disc;
}
/* --- //END Team page  --- */

.single .single-thumb {
	margin: auto;
	display: block;
}

@media all and (max-width: 1024px) {
	
}

@media all and (max-width: 970px) {
/*
	.page-template-page-services .site-content .header-title .title {
		top: 150px;	
	}
*/
	article.portfolio-item {
		width: 50%;
		margin-left: 1%;
		margin-right: 1%;
	}
	article.portfolio-item:nth-child(3n+2) {
		margin-left: 1%;
		margin-right: 1%;
	}
}
/* --- //NOTE: START 960px  --- */
@media all and (max-width: 960px) {
	.wrapper {
		box-sizing: border-box;
		padding-left: 2%;
		padding-right: 2%;
	}
	
	.page-template-page-services .services {
		padding-top: 30px;
		margin-bottom: 30px;
	}
	
	.page-template-page-services .services .service-item {
		width: 23%;
		height: 70px;
		background-image: none !important; 
	}
	
	.page-template-page-services .services .service-item .service-title:nth-child(n) {
		background: none;
		padding: 0 10px;
		vertical-align: middle;
	}
	
	.page-template-page-industry .industries {
		padding-top: 30px;
		margin-bottom: 30px;
	}
	
	.page-template-page-industry .industries .industry-item {
		width: 23%;
		height: 70px;
		background-image: none !important;
	}
	
	.page-template-page-industry .industries .industry-item .industry-title {
		background: none;
		padding: 0 10px;
		vertical-align: middle;
	}
}

/* --- //NOTE: START 940px  --- */
@media all and (max-width: 940px) {
	
	.site-header .wrapper {
		padding: 0;
	}
	
	.site-header {
		position: relative;
	}
	
	.site-branding {
		float: none;
		margin: auto;
	}
	
	.site-title {
		text-align: center;
	}
	.site-title a {
		margin: auto;
	}
	
	.main-navigation {
		float: none;
	}

	.menu-toggle {
		display: block;
	}
	
	.main-navigation ul {
		max-height: 0;
		overflow: hidden;
	}

	.main-navigation.toggled ul {
		display: block;
		width: 100%;
		max-height: 920px;
		padding: 0;
		box-sizing: content-box;
		-webkit-transition: max-height 0.3s linear;
		-moz-transition: max-height 0.3s linear;
		-ms-transition: max-height 0.3s linear;
		-o-transition: max-height 0.3s linear;
		transition: max-height 0.3s linear;
	}
	
	.main-navigation a {
		height: 50px;
		line-height: 50px;
		text-align: center;
		color: #fff;
		z-index: 2;
	}
	
	.menu-bp-menu-container {
		position: absolute;
		width: 100%;
		max-height: 0;
		z-index: 50;
		-webkit-transition: max-height 0.3s linear;
		-moz-transition: max-height 0.3s linear;
		-ms-transition: max-height 0.3s linear;
		-o-transition: max-height 0.3s linear;
		transition: max-height 0.3s linear;
	}
	
	.toggled .menu-bp-menu-container { 
		max-height: 100%;
	}
	.toggled .menu-bp-menu-container:after {
/*		content: "";*/
		position: absolute;
		background: rgba(61,61,61,0.9);
		display: block;
		width: 100%;
		height: 50px;
	}
	
	.menu-bp-menu-container .nav-menu {
		background-color: rgba(0,0,0,0.95);
	}
		
	.menu-bp-menu-container .nav-menu .menu-item {
		float: none;
	}
		
	.menu-toggle {
		position: absolute;
		top: 45px;
		right: 10px;
		float: right;
		width: 36px;
		height: 30px;
		margin-top: -15px;
		margin-bottom: 15px;
		margin-left: 12px;
		margin-right: 12px;
		cursor: pointer;
		border: 0 none;
		box-shadow: none !important;
		font-size: 0;
		border-radius: 0;
		background: none;
		outline-color: transparent;
		z-index: 100;
	}

	.menu-toggle:before, 
	.menu-toggle:after {
		content: '';
		position: absolute;
		left: 0;
		width: 100%;
		height: 4px;
		background: #cdcdcd;
	}

	.toggled .menu-toggle span {
		opacity: 0;
		filter: alpha(opacity=0);
		-webkit-transition: all 0.2s linear;
		-moz-transition: all 0.2s linear;
		-ms-transition: all 0.2s linear;
		-o-transition: all 0.2s linear;
		transition: all 0.2s linear;
	}

	.menu-toggle span {
		display: block;
		width: 100%;
		height: 4px;
		margin: 13px 0px;
		background: #cdcdcd;
		-webkit-transition: all 0.2s 0.2s linear, background 0.2s linear;
		-moz-transition: all 0.2s 0.2s linear, background 0.2s linear;
		-ms-transition: all 0.2s 0.2s linear, background 0.2s linear;
		-o-transition: all 0.2s 0.2s linear, background 0.2s linear;
		transition: all 0.2s 0.2s linear, background 0.2s linear;
		opacity: 1;
		filter: alpha(opacity=100);
	}

	.menu-toggle:hover:before, 
	.menu-toggle:hover:after, 
	.menu-toggle:hover span {
		background: rgba(255, 174, 0, 0.95);
	}

	.menu-toggle:before {
		top: 0;
		-webkit-transition: all 0.2s linear, top 0.2s 0.2s linear, background 0.2s linear;
		-moz-transition: all 0.2s linear, top 0.2s 0.2s linear, background 0.2s linear;
		-ms-transition: all 0.2s linear, top 0.2s 0.2s linear, background 0.2s linear;
		-o-transition: all 0.2s linear, top 0.2s 0.2s linear, background 0.2s linear;
		transition: all 0.2s linear, top 0.2s 0.2s linear, background 0.2s linear;
	}
	.menu-toggle:after {
		bottom: 0;
		-webkit-transition: all 0.2s linear, bottom 0.2s 0.2s linear, background 0.2s linear;
		-moz-transition: all 0.2s linear, bottom 0.2s 0.2s linear, background 0.2s linear;
		-ms-transition: all 0.2s linear, bottom 0.2s 0.2s linear, background 0.2s linear;
		-o-transition: all 0.2s linear, bottom 0.2s 0.2s linear, background 0.2s linear;
		transition: all 0.2s linear, bottom 0.2s 0.2s linear, background 0.2s linear;
	}

	.toggled .menu-toggle:before {
		top: 13px;
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		transform: rotate(45deg);
		-webkit-transition: all 0.2s 0.2s linear, top 0.2s linear, background 0.2s linear;
		-moz-transition: all 0.2s 0.2s linear, top 0.2s linear, background 0.2s linear;
		-ms-transition: all 0.2s 0.2s linear, top 0.2s linear, background 0.2s linear;
		-o-transition: all 0.2s 0.2s linear, top 0.2s linear, background 0.2s linear;
		transition: all 0.2s 0.2s linear, top 0.2s linear, background 0.2s linear;
	}

	.toggled .menu-toggle:after {
		bottom: 13px;
		-webkit-transform: rotate(-45deg);
		-moz-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		-o-transform: rotate(-45deg);
		transform: rotate(-45deg);
		-webkit-transition: all 0.2s 0.2s linear, bottom 0.2s linear, background 0.2s linear;
		-moz-transition: all 0.2s 0.2s linear, bottom 0.2s linear, background 0.2s linear;
		-ms-transition: all 0.2s 0.2s linear, bottom 0.2s linear, background 0.2s linear;
		-o-transition: all 0.2s 0.2s linear, bottom 0.2s linear, background 0.2s linear;
		transition: all 0.2s 0.2s linear, bottom 0.2s linear, background 0.2s linear;
	}
}

/* --- //NOTE: START 850px  --- */
@media all and (max-width: 850px) {
	.home .hp-articles {
		float: none;
		width: 100%;
		box-sizing: border-box;
		padding-left: 10%;
		padding-right: 10%;
		margin-bottom: 40px;
	}
	
	.portfolio-wrapper article.portfolio {
		background-size: cover;
	}
}

/* --- //NOTE: START 768px  --- */
@media all and (max-width: 768px) {

	.site-header .wrapper {
		padding: 0;
	}
	
	.site-branding .site-title a {
		background-size: contain;
	}

	.site-content .header-title {
		min-height: 100px;
	}
	
	.home .partners .list {
		max-width: 768px;
		width: 100%;
		overflow: hidden;
	}
	
	.home .partners .list .partner {
		width: 100%;
		max-width: 190px;
		margin: 0 38px 20px;
	}
	
	.contact-page .contact-details .contact,
	.contact-page .contact-form .title {
		text-align: center;
		width: 100%;
		box-sizing: border-box;
		padding: 0 10%;
		margin: 0;
	}

	.contact-page .contact-details .contact .title {
		padding-left: 0;
		padding-top: 45px;
		background-position: center top;
		margin-bottom: 5px;
	}
	
	.contact-page .contact-details .contact .title:before {
		left:50%;
		margin-left: -15px;
		background-position: center;
	}
	
	.contact-page .wpcf7 .column {
		width: 90%;
		margin: 0 5% 20px;
		box-sizing: border-box;
	}
	.contact-page .wpcf7 .column.last {
		margin: 0 5%;
	}
	
	.contact-page .wpcf7 .submit {
		text-align: center;
	}
	
	.contact-page .wpcf7 .submit input {
		float: none;
	}
	
	.about-content article.about-articles {
		display: block;
		margin-bottom: 50px;
	}
	
	.about-content article.description,
	.about-content article.portfolio-wrapper {
		width: 100%;
		max-width: none;
		padding-left: 0;
		padding-right: 0;
	}
	
	.team .team-members .team-member {
		width: 100%;
		display: block;
		padding-left: 0;
		padding-right: 0;
		overflow: hidden;
		margin-bottom: 15px;
	}
	
	.about-content .title, 
	.about-content .subtitle, 
	.team .title, 
	.team .subtitle {
		text-align: center;
	}
	
	div.wpcf7 img.ajax-loader {
		display: block;
		margin: 20px auto;
	}
	
	article.news-item:nth-child(3n+2) {
		margin-left: 1%;
		margin-right: 1%;
	}
	
	article.news-item {
		width: 48%;
		max-width: none;
		margin: 40px 1% 0;
	}
	
	.page-template-page-industry .industries .industry-item {
		width: 100%;
	}
}

/* --- //NOTE: START 650px  --- */
@media all and (max-width: 650px) {
	.site-footer .site-info .widget-area:nth-child(n), 
	.site-footer .site-info .widget-area {
		width: 100%;
		display: block;
		text-align: center;
		margin-bottom: 30px;
		margin-left:0;
		margin-right:0;
	}
	
	.inner-above-footer  {
		padding: 10px 0;
	}
	.inner-above-footer .quotation {
		display: block;
	}
	.inner-above-footer .question {
		display: block;
		margin: 0 0 10px;
	}
	
	article.portfolio-item {
		width: 100%;
		clear: both;
		margin-left: 2%;
		margin-right: 2%;
	}
	article.portfolio-item:nth-child(3n+2) {
		margin-left: 2%;
		margin-right: 2%;
	}
	
	.page-template-page-services .services .service-item {
		width: 100%;
	}
}

/* --- //NOTE: START 600px  --- */
@media all and (max-width: 600px) {
	.page-template-page-industry .industries .industry-item {
		height: 40px;
		max-width: none;
		padding: 0;
	}
}


/* --- //NOTE: START 500px  --- */
@media all and (max-width: 500px) {
	.site-branding .site-title a {
		background: url('img/logo-mobile.png') no-repeat center;
		background-size: contain;
		width: 82px;
		height: 54px;
	}
	
	.bp-hp-slider .slide .headline {
		max-width: 300px;
	}
	
	.team .team-member-thumb {
		float: none;
	}
	
	.team .team-members .team-member{
		margin-bottom: 50px;
	}
	
	.team .team-members .team-member figure {
		display: block;
		text-align: center;
	}
	
	.team .team-member-thumb img {
		margin-right: auto;
		margin-left: auto;
		margin-bottom: 5px;
		display: block;
	}
	
	.team .team-members .team-member .name,
	.team .team-members .team-member .position,
	.team .team-members .team-member .excerpt {
		text-align: center;
	}
	
	.team .team-members .team-member .excerpt {
		padding-left: 0;
	}
	
	.page-template-page-services .services .service-item:first-child,
	.page-template-page-services .services .service-item:last-child {
		margin-left: 1%;
		margin-right: 1%;
	}
	
	article.news-item {
		width: 100%;
		margin-left: 0;
		margin-right: 0;
	}
	
	article.news-item:nth-child(3n+2) {
		margin-left: 0;
		margin-right: 0;
	}
}

/* --- //NOTE: START 480px  --- */
@media all and (max-width: 480px) {
	.contact-page .contact-details {
		width: 90%;
	}
	.page-template-page-services .services .service-item {
		max-width: 90%;
		height: 50px;
	}
}