/* inspiration from:
  https://github.com/necolas/normalize.css/blob/master/normalize.css  3.0.2
  https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css  4.3.0
  https://github.com/suitcss/base/blob/master/lib/base.css            0.8.0
*/

/*
    !!! IMPORTANT: Non-standard use of <b> and <i> !!!

    <b> is used as a block, replacement for <div>
    <i> is used as an inline block, replacement for <span>
*/

b {
  display: block;
  font-weight: inherit;
}

i {
  display: inline-block;
  font-style: inherit;
  vertical-align: baseline;
}




/*
    CROSS-BROWSER DEFAULT STYLES:
*/

*,
*::after,
*::before {
  box-sizing: border-box;
}

::-webkit-input-placeholder {
  color: #ccc;
  font-weight: 300;
}
/* Mozilla Firefox 19+ */
::-moz-placeholder {
  color: #ccc;
  font-weight: 300;
}
/* Internet Explorer 10+ */
[placeholder]:-ms-input-placeholder {
  color: #ccc;
  font-weight: 300;
}

::selection {
  background-color: #5af158;
  /*color: #292929;*/
  text-shadow: none;
}
::-moz-selection {
  background-color: #5af158;
  /*color: #292929;*/
  text-shadow: none;
}


article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  /* Correct `block` display not defined in IE 8/9 */
  display: block;
}


audio,
canvas,
progress,
svg,
video {
  /* Correct `inline-block` display not defined in IE 8/9 */
  display: inline-block;
  vertical-align: middle;
}


/* `[hidden]` styling not present in IE 8/9. */
[hidden],
/* Hide the `template` element in IE, Safari, and Firefox < 22 */
template {
  display: none;
}

html {
  min-width: 100%;
  min-height: 100%;
}

body {
  margin: 0;
  color: #23222F;
  font-family: Helvetica, Arial, freesans, clean, sans-serif;
  font-size: 16px;
}

figure {
  /* Address margin not present in IE 8/9 and Safari 5 */
  margin: 0;
}

hr {
  /* Address differences between Firefox and other browsers */
  box-sizing: content-box;
  margin: 1em 0;
  height: 1px;
  border: 0;
  background-color: #EDF2F7;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  /* Remove border when inside `a` element in IE 8/9 */
  border: 0;
}

legend {
  /* Correct `color` not being inherited in IE 8/9 */
  border: 0;
  /* Remove padding so people aren't caught out if they zero out fieldsets */
  padding: 0;
}

nav > ul,
nav > ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

svg:not(:root) {
  /* Correct overflow displayed oddly in IE 9 */
  overflow: hidden;
}




/*
    TABLE:
*/

table {
  width: 100%;
  background-color: transparent;
  /* Remove most spacing between table cells */
  border-collapse: collapse;
  border-spacing: 0;
}
th {
  font-weight: bold;
  border-bottom: 2px solid #E7EDF0;
}
th,
td {
  line-height: 2em;
  text-align: left;
  vertical-align: top;
}
td {
  border-top: 1px solid #E7EDF0;
}
th,
td {
  padding: 0;
}




/*
    TYPOGRAPHY:
*/

abbr[title] {
  /* Address styling not present in IE 8/9, Safari 5, and Chrome */
  border-bottom: 1px dotted;
}

address {
  font-style: normal;
}

blockquote {
  position: relative;
  margin: 1em 2.5em;
}
blockquote:before {
  content: "\201C";
  position: absolute;
  top: -.2em;
  left: -.6em;
  font-size: 3em;
  color: #E7EDF0;
}
blockquote:after {
  content: "\201D";
  position: absolute;
  right: -.6em;
  font-size: 3em;
  color: #E7EDF0;
}

h1 {
  font-size: 2.4em;
  margin: 0.5em 0;
}
h2 {
  font-size: 2em;
  margin: 0.5em 0;
}
h3 {
  font-size: 1.6em;
  margin: 0.5em 0;
}
h4 {
  font-size: 1.4em;
  margin: 0.5em 0;
}
h5 {
  font-size: 1.2em;
  margin: 0.5em 0;
}
h6 {
  font-size: 1em;
  margin: 0.5em 0;
  text-transform: uppercase;
}

ins,
mark {
  /* Address styling not present in IE 8/9 */
  background-color: #ff0;
  color: #000;
}

p {
  padding: .25em 0;
  margin: 0;
}

pre {
  /* Hide longs strings of text and enable scrolling */
  overflow: auto;
}

q {
  /* Set consistent quote types */
  quotes: "\201C" "\201D" "\2018" "\2019";
}

small {
  /* Address inconsistent and variable font size in all browsers */
  font-size: 80%;
}

strong {
  /* Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome */
  font-weight: bold;
}

sub,
sup {
  font-size: 75%;
  position: relative;
  vertical-align: baseline;
  /* Prevent `sub` and `sup` affecting `line-height` in all browsers. */
  line-height: 0;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}

code,
kbd,
pre,
samp {
  padding: .2em .4em;
  background-color: #FAF9F9;
  /* Correct font family set oddly in Safari 5 and Chrome */
  font-family: monospace, serif;
  font-size: 1em;
}

ul,
ol,
dd {
  padding-left: 1.5em;
  margin: 0;
}
ol ol {
  list-style: lower-latin;
}
dl {
  margin: 0;
}




/*
    INTERACTION MARKUP:
*/

a {
  /* Remove the gray background color from active links in IE 10 */
  background-color: transparent;
  /* I feel like this should be a default behavior  */
  display: inline-block;
}
a:focus {
  color: inherit;
}
a:active,
a:hover {
  outline: 0;
}

label {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

select {
  margin: 0;
  color: inherit;
  font: inherit;
  text-transform: none;
}
optgroup {
  margin: 0;
  color: inherit;
  font: inherit;
  font-weight: bold;
}

textarea {
  margin: 0;
  width: 100%;
  color: inherit;
  font: inherit;
  border: 1px solid #D2DAE7;
  resize: vertical;
  /* Remove default vertical scrollbar in IE 8/9 */
  overflow: auto;
}

button,
input {
  margin: 0;
  font: inherit;
  line-height: normal;
  cursor: pointer;
}

button {
  display: inline-block;
  margin: 0;
  background-color: #E6E7E8;
  border: 0;
}
button:hover {
  background-color: #F1F2F2;
}

input[type=text],
input[type=password] {
  display: inline-block;
  border: 1px solid #D2DAE7;
  overflow: visible;
  cursor: text;
}

input[type="checkbox"],
input[type="radio"] {
  /* Address box sizing set to `content-box` in IE 8/9/10 */
  box-sizing: border-box;
  /* Remove excess padding in IE 8/9/10 */
  padding: 0; /* 2 */
}

input[type=text]:focus,
input[type=password]:focus,
button:focus,
textarea:focus {
  outline-color: #009CFF;
  outline-style: solid;
  outline-width: 0;
  outline-offset: -1px;
}

input[disabled],
button[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  /* Remove inner padding and border in Firefox 4+ */
  border: 0;
  padding: 0;
}


@font-face {
    font-family: 'museo700';
    src: url('museo/museo700-regular_1-webfont.eot');
    src: url('museo/museo700-regular_1-webfont.eot?#iefix') format('embedded-opentype'),
         url('museo/museo700-regular_1-webfont.woff2') format('woff2'),
         url('museo/museo700-regular_1-webfont.woff') format('woff'),
         url('museo/museo700-regular_1-webfont.ttf') format('truetype'),
         url('museo/museo700-regular_1-webfont.svg#museo700') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'museo300';
    src: url('museo/museo300-regular_1-webfont.eot');
    src: url('museo/museo300-regular_1-webfont.eot?#iefix') format('embedded-opentype'),
         url('museo/museo300-regular_1-webfont.woff2') format('woff2'),
         url('museo/museo300-regular_1-webfont.woff') format('woff'),
         url('museo/museo300-regular_1-webfont.ttf') format('truetype'),
         url('museo/museo300-regular_1-webfont.svg#museo300') format('svg');
    font-weight: normal;
    font-style: normal;

}


/*
    Layout
*/
body {
  font-family: museo300, serif;
  color: #fff;
  background: #1c5eaa;
  background: -moz-radial-gradient(center, ellipse cover, #1c5eaa 0%, #1f3857 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#1c5eaa), color-stop(100%,#1f3857));
  background: -webkit-radial-gradient(center, ellipse cover, #1c5eaa 0%,#1f3857 100%);
  background: -o-radial-gradient(center, ellipse cover, #1c5eaa 0%,#1f3857 100%);
  background: -ms-radial-gradient(center, ellipse cover, #1c5eaa 0%,#1f3857 100%);
  background: radial-gradient(ellipse at center, #1c5eaa 0%,#1f3857 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c5eaa', endColorstr='#1f3857',GradientType=1 );
}
strong {
  font-family: museo700, serif;
}

.layout {
  position: relative;
  width: 1024px;
  margin: 3em auto 0;
}

.lang {
  position: absolute;
  right: 0;
  top: 0;
  font-size: .875em;
}
.lang > b {
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 100%;
  padding: .4em;
  cursor: pointer;
}
.lang > b.is-selected {
  border-color: #fc7d49;
}
.lang > b:hover {
  border-color: #fc7d49;
  background-color: #fc7d49;
}

.logo {
  position: relative;
}

.info {
  position: relative;
  margin-top: 8em;
  text-align: center;
}
.info_en,
.info_ro {
  display: none;
}
.info_en.is-active,
.info_ro.is-active {
  display: block;
}
.info_subtitle,
.info_title {
  font-size: 1.8em;
  margin-bottom: .25em;
}
.info_address {
  font-size: 1.2em;
  margin-top: 1.5em;
  line-height: 1.5em;
}





