#adminmenu .toplevel_page_theme-options div.wp-menu-image::before,
#adminmenu .menu-icon-news div.wp-menu-image::before,
#adminmenu .menu-icon-portfolio div.wp-menu-image::before,
#adminmenu .menu-icon-homepage_slide div.wp-menu-image::before,
#adminmenu .menu-icon-about_us_slide div.wp-menu-image::before,
#adminmenu .menu-icon-team_member div.wp-menu-image::before,
#adminmenu .menu-icon-service div.wp-menu-image::before ,
#adminmenu .menu-icon-industry div.wp-menu-image::before {
	color: #ffa500;
}


#widgets-right input.disabled,
#widgets-right input:disabled {
	cursor:not-allowed;
}
